<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter</title>
</head>
<body>

    <h1>Counter</h1>
    <p><%= counter  %></p>
    <form action="plus_two" method="POST">
        <input type="submit" name="plus_two" id="plus_two" value="+2">
    </form>
    <form action="reset" method="POST">
        <input type="submit" name="reset" id="reset" value="reset">
    </form>
    
</body>
</html>